/* your styles will go here!! */

body {
    margin: 0;
}

header {
    font-size: 45px;
    background-color: white;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 3%;
}

nav a{
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: auto;
    margin-left: 50px;
    text-decoration: none;
}

.homepage-link a:-webkit-any-link {
    text-decoration: none;
}
h1 {
    color: #000;
    font-family: Montserrat;
    font-size: 55px;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.special-letter{
    color: #000;
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} 

h2{
    color: #000;
    text-align: right;
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: auto;
    margin-left: 73%;
    margin-right: 3%;
    position: absolute;
    bottom: 0px;
    margin-top: 50%;
    z-index: -1;
}

.main-photo {
    overflow: auto;
    white-space: nowrap;
}

.main-photo img {
    width: 100%;
    height: auto;
}

footer {
    display: flex;
    justify-content: center;
}