/* your styles will go here!! */

body {
    margin: 0;
}

img {
    max-width: 25%;
    max-height: 25%;
    margin: 20px;
    image-orientation: horizontal;
}

header {
    display: flex;
    justify-content: right;
    font-size: 45px;
    align-items: center;
}

nav a{
    color:#000; 
    text-decoration: none;
    font: Monterrat;
    padding: 10px;
    margin: 20px;
    font-size: 20px;
}

h1{
    color: #000;
    font-family: Monterrat;
    font-size: 128px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.description{
    width: 600px;
    height: 927px;
    flex-shrink: 0;
    color: #000;
    text-align: right;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    justify-content: right;
}